<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PackageTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PackageTrackerMVC.MVC.styles.css" asp-append-version="true" />

      <style>

            /* Importing fonts from Google */
            @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

            /* Reseting */
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;
            }

        .btn-orange {
           background: #FD4416 !important;
           color: #fff;
        }

        .btn-orange:hover {
          color: #fff;
          background-color: #bb2d3b;
          border-color: #b02a37;
        }
        .text-orange {
          color: #FD4416 !important;
        }


        input[type="checkbox"] {
          appearance: none;
          background-color: #f7f7f7;
          margin: 0;
          color: #f7f7f7;
          width: 1.1rem;
          height: 1.1rem;
          border-radius: 0.20rem;
          transform: translateY(-0.075em);
          display: grid;
          place-content: center;
        }

        input[type="checkbox"]::before {
          content: "";
          width: 0.6rem;
          height: 0.6rem;
          transform: scale(1);
          transition: 120ms transform ease-in-out;
          /*box-shadow: inset 1em 1em #fcc203;*/
        }

        input[type="checkbox"]:checked::before {
          transform: scale(1);
          box-shadow: inset 1em 1em green;
        }

        input[type="checkbox"]:disabled {
          cursor: not-allowed;
}
    </style>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PacoteX</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-orange" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
@*                        <li class="nav-item">
                            <a class="nav-link text-danger" asp-area="" asp-controller="Packages" asp-action="Cadastrar">Cadastrar</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-orange" asp-area="" asp-controller="Packages" asp-action="Rastrear">Rastrear</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-orange" asp-area="" asp-controller="Packages" asp-action="Index">Pacotes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-orange" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - <span class="text-orange">PacoteX</span> - Gabriel de Santana
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
