@{
    ViewData["Title"] = "Home";
}

<style>
    #title-index {
        font-family: monospace;
        color: #FD4416;
    }

    #gif-index {
        width: 300px;
        height: auto;
    }
</style>

<div class="text-center">
    <h1 id="title-index" class="display-4">PacoteX</h1>

   @* <img id="gif-index" src="https://i.gifer.com/Pqhk.gif" alt="delivery"/>*@
    <img id="gif-index" src="https://i.gifer.com/GeS9.gif" alt="delivery"/>
</div>
