@{
    ViewData["Title"] = "Sobre";
}
<h1 class="text-orange">Sobre</h1>

<style>
    #gif-index-1{
        width: 300px;
        height: auto;
        margin:0px -4px;
        border-radius: 40%;
    }
</style>

<p>A PacoteX é a sua melhor solução para rastreamento de encomendas nacionais e internacionais.</p>

<img id="gif-index-1" src="https://i.gifer.com/Pqhk.gif" alt="delivery"/>